<template name = "otherrecipe">
  <div id="recipe" class="otherrecipe">
    <!-- <div class="ui grid">
      <div class="four wide column">
        <div class="ui card" id="otherrecipe">
          <div class="content">
            {{recipe.name}}
          </div>
          <div class="image">
            <img src="{{ recipe.illu }}">
          </div>
          <div class="content">
            <i class="shopping basket icon"></i>
            {{recipe.ingNum}} ingredients
          </div>
        </div>
      </div>
      <div class="four wide column">
        <div class="ui card" id="otherrecipe">
          <div class="content">
            {{recipe.name}}
          </div>
          <div class="image">
            <img src="{{ recipe.illu }}">
          </div>
          <div class="content">
            <i class="shopping basket icon"></i>
            {{recipe.ingNum}} ingredients
          </div>
        </div>
      </div>
      <div class="four wide column">
        <div class="ui card" id="otherrecipe">
          <div class="content">
            {{recipe.name}}
          </div>
          <div class="image">
            <img src="{{ recipe.illu }}">
          </div>
          <div class="content">
            <i class="shopping basket icon"></i>
            {{recipe.ingNum}} ingredients
          </div>
        </div>
      </div>
      <div class="four wide column">
        <div class="ui card" id="otherrecipe">
          <div class="content">
            {{recipe.name}}
          </div>
          <div class="image">
            <img src="{{ recipe.illu }}">
          </div>
          <div class="content">
            <i class="shopping basket icon"></i>
            {{recipe.ingNum}} ingredients
          </div>
        </div>
      </div>
    </div> -->

</div>

</template>
