<Template name = "emailaddress">
  <form class="ui form" id="formmail">
    <div class="field">
      <label>First Name</label>
      <input type="text" name="first-name" placeholder="First Name">
    </div>
    <div class="field">
      <label>Last Name</label>
      <input type="text" name="last-name" placeholder="Last Name">
    </div>
    <div class="field">
      <label>Email address</label>
      <input type="text" name="email-address" placeholder="name@nescorner.com">
    </div>
    <button class="ui button" type="submit">Submit</button>
  </form>
</template>
